
body{
    width: 1200px;
    margin: auto;
    font-family: "abel", "Arial", serif;
}
nav{
    height: 70px;
    background: black;
    position: fixed;
    width: 1200px;
    z-index: 999;
}
nav img{
    height: 90px;
    margin-left: -50px;
    margin-top: -5px;
}
nav ul {
    float: right;
    list-style: none;
    color: white;
    margin-top: 30px;
    font-family: "abel", "Arial", serif;
}
nav ul a li{
    display: inline-block;
    float: left;
    text-transform: uppercase;
    margin-left: 20px;
    font-size: 11px;
    color: white;
}
nav ul li:last-child{
    margin-right: 20px;
}
nav ul li:hover{
    color: #e3da38;
}
section{
    border-bottom: black solid 5px;
}

section:first-of-type{
    background: url("viber3.jpg") 600px 25px no-repeat;
    height: 700px;

}

section:first-of-type div{
    background: url("signature.png") 90px -20px no-repeat;
    display: inline-block;
    width: 400px;
    margin-top: 280px;
    margin-left: 100px;
    border: #2b2b2b 5px solid;
    padding: 15px;
}
section:first-of-type div h4{
    margin-top: -15px;
    margin-left: auto;

}
body > section:nth-child(2) > div > h2,h4{
    font-weight: normal;
}
section:nth-of-type(2){
    height: 700px;

}
section:nth-of-type(2)>div:first-of-type{
    width: 20%;
    display: inline-block;
    float: left;
}
section:nth-of-type(2)>div:nth-of-type(2){
    width: 40%;
    display: inline-block;
    float: left;
    margin-top: 180px;

}
section:nth-of-type(2)>div:nth-of-type(3){
    width: 40%;
    display: inline-block;
    float: left;
}
section:nth-child(3) > div:nth-child(1) > p{
    rotate: -90deg;
    display: inline-block;
    margin-top: 250px;
}

section:nth-child(3) > div:nth-child(1) >img{
    display: block;
    width: 40px;
    height: 50px;
    margin-left: 48px;
    margin-top: 97px;
}
section:nth-child(3) > div:nth-child(1) >h2 {
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 48px;
    font-size: 40px;
}
section:nth-child(3) > div:nth-child(1) >h2:first-of-type {
    margin-top: 55px;
}
section:nth-child(3) > div:nth-child(1) >h2:last-of-type{
    color: #e3da38;
    margin-top: -40px;
}
section:nth-child(3) > div:nth-child(2)>p{
    text-align: justify;
    padding-right: 80px;
}
section:nth-child(3) > div:nth-child(2)>p:nth-of-type(2){
    color: darkgray;
}
section:nth-child(3) > div:nth-child(2) > img:first-of-type{
    width: 200px;
    display: block;
}
section:nth-child(3) > div:nth-child(2) > img:not(section:nth-child(3) > div:nth-child(2) > img:first-of-type){
    display: inline-block;
    float: left;
    width: 50px;
    height: 30px;
}
body > section:nth-child(3) > div:nth-child(2) > img:nth-child(3){
    clear: left;
}

section:nth-child(3) > div:nth-child(3){
    background: url("viber4-1.jpg") 0 100px no-repeat;
    height: 700px;
}
section:nth-child(3) > div:nth-child(3) input{
    background: #E3DA38FF;
    border: none ;
    border-radius: 15px;
    color: white;
    padding: 5px 23px;
    margin-left: 135px;
    margin-top: 500px;
}
section:nth-child(3) > div:nth-child(3) input:hover{
    background: black ;
    border-radius: 15px;
    color: #E3DA38FF;
    padding: 5px 23px;
    margin-left: 135px;
    margin-top: 500px;
}
section:nth-child(4){
    height: 600px;
    padding-top: 100px;
}
section:nth-child(4)>div:first-of-type{
    width: 70%;
    display: inline-block;
    float: left;
}
section:nth-child(4)>div:last-of-type{
    width: 30%;
    display: inline-block;
    float: left;
}
section:nth-child(4) > div:last-of-type> p{
    rotate: -90deg;
    display: inline-block;
    margin-top: 150px;
    margin-left: 120px
}

section:nth-child(4) > div:last-of-type >img{
    display: block;
    width: 40px;
    height: 50px;
    margin-top: 97px;
    margin-left: 155px
}
section:nth-child(4) > div:last-of-type >h2 {
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 48px;
    font-size: 40px;
}
section:nth-child(4) > div:last-of-type >h2:first-of-type {
    margin-top: 55px;
}
section:nth-child(4) > div:last-of-type >h2:last-of-type{
    color: #e3da38;
    margin-top: -40px;
}
section:nth-child(4)>div:first-of-type div{
    width: 40%;
    display: inline-block;
    float: left;
    height: 250px;
    margin: 25px;
}
section:nth-child(4)>div:first-of-type div img{
    width: 100px;
    height: 100px;
    margin-left: 120px;
}
section:nth-child(4)>div:first-of-type div p:first-of-type{
    margin-left: 150px;
    color:#e3da38 ;
    font-weight: bold;
}
body > section:nth-child(4) > div:nth-child(1) > div:nth-child(1) > p{
    margin-left: 132px;
}
body > section:nth-child(4) > div:nth-child(1) > div:nth-child(3) > img{
    margin-left: 107px;
}
section:nth-child(4)>div:first-of-type div h4{
    margin-left: 100px;
    margin-top: -10px;
    font-weight: bold;
}
body > section:nth-child(4) > div:nth-child(1) > div:nth-child(1) > h4{
    margin-left: 49px;
}
body > section:nth-child(4) > div:nth-child(1) > div:nth-child(2) > h4{
    margin-left: 124px;
}
body > section:nth-child(4) > div:nth-child(1) > div:nth-child(3) > h4{
    margin-left: 124px;
}
body > section:nth-child(4) > div:nth-child(1) > div:nth-child(4) > h4{
    margin-left: 11px;
    text-align: center;
}
body > section:nth-child(4) > div:nth-child(1) > div> p:nth-child(4){
    margin-top: -14px;
    margin-left: 123px;
}
body > section:nth-child(4) > div:nth-child(1) > div:nth-child(2)> p:nth-child(4){
    margin-top: -14px;
    margin-left: 113px;
}
body > section:nth-child(4) > div:nth-child(1) > div:nth-child(3)> p:nth-child(4){
    margin-top: -14px;
    margin-left: 113px;
}
section:nth-child(5){
    height: 600px;
    background: #222222;
}
section:nth-child(5)>div:first-of-type{
    width: 20%;
    display: inline-block;
    float: left;
}
section:nth-child(5)>div:last-of-type{
    width: 80%;
    display: inline-block;
    float: left;
}
section:nth-child(5) > div:first-of-type> p{
    rotate: -90deg;
    display: inline-block;
    margin-top: 250px;
    margin-left: -11px;
    color: white;
}

section:nth-child(5) > div:first-of-type >img{
    display: block;
    width: 40px;
    height: 50px;
    margin-top: 97px;
    margin-left: 48px
}
section:nth-child(5) > div:first-of-type >h2 {
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 48px;
    font-size: 40px;
}
section:nth-child(5) > div:first-of-type >h2:first-of-type {
    margin-top: 55px;
    color: white;
}
section:nth-child(5) > div:first-of-type >h2:last-of-type{
    color: #e3da38;
    margin-top: -40px;
}
section:nth-child(5) > div:last-of-type>div{
    width: 40%;
    display: inline-block;
    float: left;
    border: 1px solid #e3da38 ;
    border-radius: 5px;
    color: darkgray;
}
section:nth-child(5) > div:last-of-type{
    margin-top: 84px;
}
body > section:nth-child(5) > div:nth-child(2) > div:nth-child(3){
    margin-top: 47px;
    margin-left: 186px
}
section:nth-child(5) > div:nth-child(2) > div:nth-child(1){
    margin-right: 54px;
}
section:nth-child(6){
    height: 700px;
}
section:nth-child(6)>div:first-of-type{
    width: 68%;
    display: inline-block;
    float: left;
    margin-left: -216px;
}
section:nth-child(6)>div:last-of-type{
    width: 30%;
    display: inline-block;
    float: left;
}
section:nth-child(6) > div:last-of-type> p{
    rotate: -90deg;
    display: inline-block;
    margin-top: 150px;
    margin-left: 147px
}

section:nth-child(6) > div:last-of-type >img{
    display: block;
    width: 40px;
    height: 50px;
    margin-top: 97px;
    margin-left: 155px
}
section:nth-child(6) > div:last-of-type >h2 {
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 48px;
    font-size: 40px;
}
section:nth-child(6) > div:last-of-type >h2:first-of-type {
    margin-top: 55px;
    margin-left: 92px;
}
section:nth-child(6) > div:last-of-type >h2:last-of-type{
    color: #e3da38;
    margin-top: -40px;
    margin-left: 92px;
}
section:nth-child(6) > div:first-of-type>div{

    display: block;

}
#hobi1{
    background:url("kosarka.jpg") 180px 40px no-repeat,url("teretana.jpg") -30px -30px no-repeat;
    height: 200px;
}
#hobi1>div {
    margin-left: 500px;
}
#hobi1 h2,#hobi2 h2,#hobi3 h2 {
    color: #e3da38;
}
#hobi1 p,#hobi2 p,#hobi3 p {
    text-align: justify;
}
#hobi2>div{
    margin-right: 400px;
}
#hobi2{
    background: url("druzba.jpg") 520px 0 no-repeat;
    height: 200px;
}
#hobi3{
    background:url("znaenja1.jpg") 180px 40px no-repeat,url("znaenja2.jpg") -30px -30px no-repeat;
    height: 200px;
}
#hobi3>div {
    margin-left: 500px;
}
body > section:nth-child(6) > div:nth-child(2){
    margin-top: 70px;
}
section:nth-child(7) h2:first-of-type{
    text-transform: uppercase;
    font-weight: bold;
    font-size:40px ;

    text-align: center;
}
section:nth-child(7) h2:last-of-type{
    color: #e3da38;
    text-transform: uppercase;
    font-weight: bold;
    font-size:40px ;
    margin-top: -42px;
    text-align: center;
}
section:nth-child(7) p{
    text-align: center;
    color: darkgray;
    margin-top: -18px;


}
section:nth-child(7){
    height: 600px;
    padding-top: 50px;
    background: url("kontakt.jpg") 0 0 no-repeat;
}
section:nth-child(7) input:not(section:nth-child(7) input:last-of-type){
    display: block;
    margin: auto;
    width: 600px;
    height: 20px;
    margin-bottom: 7px;
    opacity: 0.6;
    background: black;
    color: white;

}
textarea{
    display: block;
    margin: auto;
    width: 600px;
    height: 80px;
    opacity: 0.6;
    background: black;
    color: white;
}
section:nth-child(7) input:last-of-type{
    margin-top: 38px;
    margin-left: 535px;
    border-radius: 20px;
    border: 2px solid white;
    color: white;
    background: transparent;
    padding: 7px 20px;

}
section:nth-child(7) input:last-of-type:hover{
    margin-top: 38px;
    margin-left: 535px;
    border-radius: 20px;
    border: 2px solid white;
    color: white;
    background:#e3da38 ;
    padding: 7px 20px;
}
footer{
    border-top: rgba(255, 255, 255, 0.44) 1px solid;
    height: 250px;
    background: black;
    color: white;
    font-size: 12px;

}
footer>img:first-of-type{
    width: 280px ;
    height: 80px;
    margin-top:50px;
    float: left;
    margin-left: 41px;
}
footer div{
    display: inline-block;
    float: left;
    width: 28%;
    height: 10px;
}
footer div:first-of-type{
    margin-left: 120px;
    margin-top: 40px;
}
footer div:last-of-type img{
    width: 38px;
    height: 31px;
}
body > footer > hr{
    opacity: 0.5;
    margin-top: 200px;
}
footer>p{
    margin-top: -2px;
    text-align: center;
    font-size: 10px;
}
body > footer > div:nth-child(3){
    margin-left: 57px;
    margin-top: 36px;
}
body > section:nth-child(3) > div:nth-child(2) > a img{
    width: 38px;
    height: 31px;
}
body > section:nth-child(3) > div:nth-child(2) > a{
    margin-right: 5px;
}
#zamene > div:nth-child(2) > a:nth-child(6){
    margin-right: 2px;
}
html{
    scroll-behavior: smooth;
}


nav ul a li {
    transition: color 0.5s ease-out;
}


section {
    transition: background-image 0.5s ease-out;
}


div {
    transition: transform 0.5s ease-out;
    transform: translateY(100%);
}

div.active {
    transform: translateY(0%);
}
nav ul li:hover {
    color: #e3da38;
}
#zamene > div:nth-child(2) > a:nth-child(5) > img,body > footer > div:nth-child(3) > a:nth-child(2) > img{
    width: 32px;
    height: 27px;
}
#zamene > div:nth-child(2) > a:nth-child(5)>img:hover,body > footer > div:nth-child(3) > a:nth-child(2)>img:hover{
    width: 37px;
    height: 32px;
    transition: 0.5s;
    opacity: 0.5;
}
body > section:nth-child(3) > div:nth-child(2) > a img:hover,footer div:last-of-type img:hover{
    width: 43px;
    height: 36px;
    transition: 0.5s;
    opacity: 0.5;
}
#ves1{
    background: url("vest1.png") 120px 31px no-repeat;
    padding-left: 34px;
}
#ves2{
    background: url("vest2.png") 120px 49px no-repeat;
    padding-left: 34px;
}
#ves3{
    background: url("ves3.png") 193px 55px no-repeat;
    padding-left: 34px;
}



